{
  "guild_id": null,
  "channels": {
    "discussion": null,
    "broadcast": [],
    "objection_audit": null,
    "objection_publicity": null
  },
  "tags": {
    "discussion": null,
    "executing": null,
    "frozen": null,
    "objection_voting": null,
    "finished": null,
    "abandoned": null,
    "rejected": null
  },
  "status_tag_keys": [
    "discussion",
    "executing",
    "frozen",
    "objection_voting",
    "finished",
    "abandoned",
    "rejected"
  ],
  "roles": {
    "councilModerator": null,
    "executionAuditor": null,
    "executiveTeam": null,
    "headSteward": null,
    "stewards": null
  },
  "proxy": null,
  "timezone": "Asia/Shanghai"
}
