{
  "guild_id": null,
  "channels": {
    "discussion": null,
    "broadcast": [],
    "objection_audit": null,
    "objection_publicity": null,
    "intake_review": null,
    "voting_channel": null
  },
  "tags": {
    "discussion": null,
    "executing": null,
    "frozen": null,
    "objection_voting": null,
    "finished": null,
    "abandoned": null,
    "rejected": null,
    "under_objection": null
  },
  "status_tag_keys": [
    "discussion",
    "executing",
    "frozen",
    "objection_voting",
    "finished",
    "abandoned",
    "rejected",
    "under_objection"
  ],
  "intake_tags": {
    "pending_review": null,
    "support_collecting": null,
    "approved": null,
    "rejected": null,
    "modification_required": null
  },
  "intake_status_tag_keys": [
    "pending_review",
    "support_collecting",
    "approved",
    "rejected",
    "modification_required"
  ],
  "roles": {
    "councilModerator": null,
    "executionAuditor": null,
    "stewards": null,
    "voteCreationNotifier": null
  },
  "proxy": null,
  "timezone": "Asia/Shanghai"
}
